In [1]:
import pandas as pd

In [2]:
book_transactions = pd.read_csv("bookstore_transactions.csv")

In [5]:
book_transactions.head(2)

        Transaction
0  History,Bookmark
1  History,Bookmark

In [7]:
book_transactions.shape

(99, 1)

In [15]:
transactions = book_transactions["Transaction"].apply(lambda t: t.split(","))
type(transactions)

pandas.core.series.Series

In [14]:
list_transactions = list(transactions)
list_transactions[1]

['History', 'Bookmark']